header {
    background-color: whitesmoke;
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

header h1 {
    color: lightgreen;
    font-size: 92px;
    margin: 0;
    padding: 0;
}

header h1 img {
    width: 92px;
}

body {
    background-color: lightgray;
}

footer {
    background-color: midnightblue;
    width: 100%;
    margin: auto;
    padding: 0;
    bottom: 0;
    left: 0;
    height: 64px;
}