header {
    background-color: whitesmoke;
}

header h1 {
    color: lightgreen;
    text-align: center;
    font-size: 92px;
}

header h1 img {
    width: 92px;
}

body {
    background-color: lightgray;
}

footer {
    background-color: midnightblue;
    height: 60px;
    
}

footer :link{
    color :white;
}

section {
    text-align: center;
    font-size: 14pt;
}

form {
    text-align: center;
}